*{
    padding: 0;
    margin: 0;
    box-sizing: border-box ;
}
:root{
    --first: #262C60;
    --second: #5361AA;
    --third : #A2A5D3;
    --fourth: #DF495E;
    --fifth: #F6BA47;
}
body {
    background: #FFFFFF; 
    font-family: 'Poppins', sans-serif;
    margin: 20px;
}

.header__container{
    display: flex;
    justify-content:space-between;
    align-items:center;  
    padding: 0px 5.5px 0px 5.5px;  
}
.client__content{
    color:var(--first);
    font-size: 17px;
}
.thrust__logo{
    max-width: 13rem;
    
      
}

.title__cotizacion{
    color: var(--first);
    display: flex;
    font-size: 30px;
    letter-spacing: 2px;
    
    
}

.cotizacion__content h2{
    justify-content: right;
    margin-right: 3px;
   
}
.fecha__content{
    display: flex;
    align-items: right;
    justify-content: space-between;
    margin-left: 8px;
    color:var(--first);
    
}
.client__content input{
    border: none;
    max-width: 150px;
    font-size: medium;
    color: var(--first);
    letter-spacing: 1px; 
}
.fechav__input[type='date']{
    font-size: large;
    max-width: 108px;
}
.fechav__input[type='date']::-webkit-calendar-picker-indicator {
    display: none;
}
.fecha__content input{
    max-width: 50px;
    font-size: medium;
    color: var(--first);
    letter-spacing: 1px;
    border:none
}
.service-price{
    font-weight: normal;
}
.fecha__recive{
    display: flex;
    justify-content: right;
}

.section__cotizacion{
    max-width: 816px;
    max-height: 1056px;
    display: inline-block flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}
.selected-item-group{
    width: 816px ;
    max-width: 816px;
    max-height: 1056px;
}
.service-select{
    display: flex;
    justify-content: space-between;
    background-color: var(--first);
    color: var(--third);
    padding: 0.5rem 1.5rem 0.5rem 1rem ;
    
}

.service-total-select{
    display: flex;
    justify-content: space-between;
    background-color: var(--first);
    color: var(--third);
    padding: 0.5rem 1.5rem 0.5rem 1rem ;
    
}

.service-total-title{
    display: flex;
    justify-content: space-between;
    background-color: var(--first);
    color: var(--third);
    padding: 0.5rem 1.5rem 0.5rem 1rem ;
    
}

.service-details{
    display: flex;
    justify-content: space-between;
    color: var(--first);
    padding: 0.5rem 1rem ;
}
.list-details{
    margin-left: 60px;
    color: var(--first)
}
.service-entregable{
    color: var(--first);
    padding: 0.5rem 1rem ;
}

.list-entregable{
    margin-left: 60px;
    color: var(--first);
    margin-bottom: 1rem;
}

.total__cotizacion{
    display: flex;
    justify-content: space-between;
    background-color: var(--first);
    color: var(--third);
    padding: 0.5rem 1.5rem 0.5rem 1rem;
}
.container__btn__descargar{
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn__descargar{
    
    display: inline-block;
    width: 150px;
    height: 50px;
    border-radius: 25px;
    border: 0;
    background-color: var(--first);
    color: var(--third);
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-size: 15px;
    transition: all .5s ease;
    font-size: medium;
    cursor: pointer;
    
}

.btn__descargar:hover{
    letter-spacing: 2px;
    background-color: var(--fifth);
    color: var(--first);
    font-weight: bold;
    box-shadow: var(--fifth) 0px 2px 5px 0px;
}

.btn__descargar:active {
    letter-spacing: 3px;
    background-color: var(--fifth);
    color: var(--first);
    box-shadow: #FCBF00 0px 0px 0px 0px;
    transform: translateY(10px);
    transition: 100ms;

}
