*{
    padding: 0;
    margin: 0;
    box-sizing: border-box ;
}
:root{
    --first: #262C60;
    --second: #5361AA;
    --third : #A2A5D3;
    --fourth: #DF495E;
    --fifth: #F6BA47;
}
body {
    background: #FFFFFF; 
    font-family: 'Poppins', sans-serif;
    margin: 20px;
}
.section__cotizacion{
    max-width: 816px;
    max-height: 1056px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}
.selected-item-group{
    width: 816px;
    height: 1056px;
}
.service-select{
    display: flex;
    justify-content: space-between;
    background-color: var(--first);
    color: var(--third);
    padding: 0.5rem 1.5rem 0.5rem 1rem ;
    
}
.service-details{
    display: flex;
    justify-content: space-between;
    color: var(--first);
    padding: 0.5rem 1rem ;
}
.list-details{
    margin-left: 60px;
    color: var(--first)
}
.service-entregable{
    color: var(--first);
    padding: 0.5rem 1rem ;
}

.list-entregable{
    margin-left: 60px;
    color: var(--first);
    margin-bottom: 1rem;
}