/* reseteo de bordes y paddings */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* paleta de colores */
:root {
  --first: #262c60;
  --second: #5361aa;
  --third: #a2a5d3;
  --fourth: #df495e;
  --fifth: #f6ba47;
}
/* estilos generales y fuente */
body {
  background: #ffffff;
  font-family: "Poppins", sans-serif;
  margin: 20px;
}

/* encabezado de la cotizacion */
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 5.5px 0px 5.5px;
}
/* estilos para div de contenedor para cliente y vigencia */
.client__content {
  padding-top: 10px;
  color: var(--first);
  font-size: 17px;

}
.cliente-name{
  display: flex;
  text-transform: capitalize;
}
.client__info{
  margin-right: 4px;
}
.vigencia-cot{
  display: flex;
  text-transform: capitalize;
  margin-top: 1px;
}
.vigencia__info{
  margin-right: 4px;
}
/* tamaño logo */
.thrust__logo {
  max-width: 13rem;
}
/* estilos para titulo cotizacion*/
.title__cotizacion {
  color: var(--first);
  display: flex;
  font-size: 30px;
  letter-spacing: 2px;
}
/* alineacion del contenedor de cotizacion */
.cotizacion__content h2 {
  justify-content: right;
  
}
/* contenedor de numero cotizacion y fecha de creación */
.fecha__content {
  display: flex;
  align-items: right;
  justify-content: space-between;
  margin-left: 8px;
  color: var(--first);
}
.num__cotizacion{
  padding-right: 15px;
}
.fecha__cotizacion{
  margin-right: 5px;
}
.service-price {
  font-weight: normal;
}
.fecha__recive {
  display: flex;
  justify-content: right;
}

.section__cotizacion {
  max-width: 900px;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
.selected-item-group {
  width: 900px;
}
.service-select {
  display: flex;
  justify-content: space-between;
  background-color: var(--first);
  color: var(--third);
  padding: 0.5rem 1.5rem 0.5rem 1rem;
}

.service-total-select {
  display: flex;
  justify-content: space-between;
  background-color: var(--first);
  color: var(--third);
  padding: 0.5rem 1.5rem 0.5rem 1rem;
}

.service-total-title {
  display: flex;
  justify-content: space-between;
  background-color: var(--first);
  color: var(--third);
  padding: 0.5rem 1.5rem 0.5rem 1rem;
}

.service-details {
  display: flex;
  justify-content: space-between;
  color: var(--first);
  padding: 0.5rem 1rem;
}
.list-details {
  margin-left: 60px;
  color: var(--first);
}
.service-entregable {
  color: var(--first);
  padding: 0.5rem 1rem;
}

.list-entregable {
  margin-left: 60px;
  color: var(--first);
  margin-bottom: 1rem;
}

.total__cotizacion {
  display: flex;
  justify-content: space-between;
  background-color: var(--first);
  color: var(--third);
  padding: 0.5rem 1.5rem 0.5rem 1rem;
}
.total-price{
  font-weight: normal;
}
.container__btn__descargar {
  display: flex;
  align-items:center;
  justify-content: space-between;
  padding-right: 20px;
}

.btn__descargar {
  display: inline-block;
  width: 150px;
  height: 50px;
  border-radius: 25px;
  border: 0;
  background-color: var(--first);
  color: var(--third);
  letter-spacing: 1.5px;
  text-transform: uppercase;
  font-size: 15px;
  transition: all 0.5s ease;
  font-size: medium;
  cursor: pointer;
}

.btn__descargar:hover {
  letter-spacing: 2px;
  background-color: var(--fifth);
  color: var(--first);
  font-weight: bold;
  box-shadow: var(--fifth) 0px 2px 5px 0px;
}

.btn__descargar:active {
  letter-spacing: 3px;
  background-color: var(--fifth);
  color: var(--first);
  box-shadow: #fcbf00 0px 0px 0px 0px;
  transform: translateY(10px);
  transition: 100ms;
}
.politicas__container {
  margin-top: 25px;
  color: var(--first);
}
.politicas__container h3 {
  text-align: center;
}
.politicas__container p{
  text-align: justify;
}
.politicas__container ul {
  
  margin-left: 20px;
  font-weight: bold;
}
.politicas__firma {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-transform: uppercase;
  height: 65px;
}
.line__firma {
  display: flex;
  justify-content: space-between;
}
.linea__firma {
  border-bottom: solid;
  width: 390px;
  margin-top: 80px;
  height: 32px;
}
.firmas {
  margin-top: 5px;
  width: 400px;
  display: grid;
  justify-items: center;
  text-align: center;
  padding-left: 40px;
  padding-right: 40px;
}
.firmas-2 {
  margin-top: 5px;
  width: 400px;
  display: grid;
  justify-items: center;
  text-align: center;
  padding-right: 40px;
  padding-left: 40px;
}

.content__firma {
  font-size: larger !important;
  font-weight: bold;
  text-transform: uppercase;
}
.empresa__foot {
  font-size: medium;
  text-transform: uppercase;
  text-align: center;
  color: var(--first);
}

