
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box ;
}

body {
    background: #FFFFFF; 
    font-family: 'Poppins', sans-serif;
    margin: 20px;
}

.logo__polea{
    max-width: 9rem;
}

.container{
    max-width: 1400px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(7,1fr);
    grid-template-rows: 1fr;
    grid-template-areas:
    
    "menu menu seleccion seleccion seleccion seleccion seleccion";
    

}

.service-item{
    color: #1D1E1B;
    margin-bottom: 10px;
   
    
}

.service-item h3{
    text-align: center;
    margin-bottom: 2px;
}

.column__menu{
    grid-area: menu; 
}

.menu__title{
    margin-bottom: 1rem;
    color: #1D1E1B;
}

.menu__select{
    width: 350px;
    height: 50px;
    border-radius: 10px;
    background-color: transparent;
    padding: 3px 20px;
    font-size: medium;
    -webkit-appearance: none;
    appearance: none;
    cursor: pointer;
}

.menu__select:focus{
    outline: none;
    box-shadow: 0 0 2px -1px #1D1E1B;
}
.btn__add__service{
    display: inline-block;
    width: 125px;
    height: 45px;
    border-radius: 25px;
    border: 0;
    background-color: #1D1E1B;
    color: #D0CFCD;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-size: 15px;
    transition: all .5s ease;
    font-size: medium;
    margin-left: 10px;
    cursor: pointer;
    margin-top: 10px;
   
}

.btn__add__service:hover{
    letter-spacing: 2px;
    background-color: #FCBF00;
    color: #1D1E1B;
    font-weight: bold;
    box-shadow: #FCBF00 0px 2px 5px 0px;
}

.btn__add__service:active {
    letter-spacing: 3px;
    background-color: #FCBF00;
    color: #1D1E1B;
    box-shadow: #FCBF00 0px 0px 0px 0px;
    transform: translateY(10px);
    transition: 100ms;
}

.column__seleccion{
    grid-area: seleccion;
    margin-top: 1rem;
    margin-left: 3rem;
    margin-right: 3rem;
    /* margin-left: 1rem;
    box-shadow: 1px 1px 3px 2px rgba(0,0,0,0.15); 
    color: black;
    padding: 2rem;
    border-radius: 25px; */
    
}

.seleccion__btn__title{
    display: flex;
    justify-content: space-between;
    
}

.seleccion__content{
    grid-area: seleccion;
}

.seleccion__title{
    color: #1D1E1B;
    justify-content: center;
    margin-bottom: 2rem;
}

.column__seleccion h2{
    display: flex;
    justify-content: center;
    align-items: center;

}

.btn__seleccion{
    
    display: inline-block;
    width: 300px;
    height: 50px;
    border-radius: 25px;
    border: 0;
    background-color: #1D1E1B;
    color: #D0CFCD;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-size: 15px;
    transition: all .5s ease;
    font-size: medium;
    cursor: pointer;
    
}

.btn__seleccion:hover{
    letter-spacing: 2px;
    background-color: #FCBF00;
    color: #1D1E1B;
    font-weight: bold;
    box-shadow: #FCBF00 0px 2px 5px 0px;
}

.btn__seleccion:active {
    letter-spacing: 3px;
    background-color: #FCBF00;
    color: #1D1E1B;
    box-shadow: #FCBF00 0px 0px 0px 0px;
    transform: translateY(10px);
    transition: 100ms;

}
.delete-btn {
    background-color:#FCBF00;
    color: #FFFFFF;
    border: none;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    cursor: pointer;
}
.delete-btn:hover{
    letter-spacing: 2px;
    background-color: #FCBF00;
    color: #1D1E1B;
    font-weight: bold;
    box-shadow: #FCBF00 0px 2px 5px 0px;
}
  
.list-details{
    margin-left: 2rem;
}
.service-title-btn{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;
}